@using Byteology.GoogleApiModule.Web.Pages.Components.GooglePlacesFindPlaceWidget
@model GooglePlacesFindPlaceWidgetOptions

<div class="google-places-find-place-widget d-flex align-items-center @Model.ParentCss">

    @if (!string.IsNullOrEmpty(Model.Label))
    {
        <label for="google-places-find-place-select" class="col-sm-2 col-form-label">@Model.Label</label>
        <div class="col-sm-10">
            <select id="google-places-find-place-select" name="@Model.AddressInputName" class="google-places-find-place @Model.CssClass"></select>
        </div>
    }
    else
    {
        <select id="google-places-find-place-select" name="@Model.AddressInputName" class="google-places-find-place col-sm-12 @Model.CssClass"></select>
    }


</div>
<input type="hidden" id="google-places-find-place-selection-placeid" name="@Model.PlaceIdInputName" />
